Package: com.estoque.3dtextwidget
Name: 3D Text Widget
Version: 1.0
Architecture: iphoneos-arm
Author: Estoque <incusx@naver.com>
Depends: com.eldwin.iwidgets, mobilesubstrate
Depiction: http://est0que.tistory.com/1430
Description: 3D Text Widget for iWidget! You can type anything! No SSH needed, Just using iWidget option!
Homepage: http://est0que.tistory.com/
Maintainer: Estoque <incusx@naver.com>
Section: Themes (Addons)
Sponsor: Estoque <http://est0que.tistory.com/>
